@import '_vars.scss';

.main-card {
  box-shadow:
    0px 2px 1px -1px rgba(112, 128, 138, 0.2),
    0px 1px 1px 0px rgba(139, 159, 167, 0.14),
    0px 1px 3px 0px rgba(17, 53, 228, 0.12);
  & h2 {
    color: $gray-70;
  }
  &:hover {
    box-shadow:
      0 14px 28px rgba(71, 105, 169, 0.25),
      0 10px 10px rgba(140, 153, 162, 0.22);
  }
}

.card-container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
}

.card-body {
  padding: 0 30px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  & h1 {
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
}

.card-img {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &::before {
    padding-top: 56.25%;
    display: block;
    content: "";
  }
}

.card-img-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.short-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 10px 0;
  & div {
    margin: 0 10px;
  }
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & > div {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
}

.chip-container{
  & > div {
    margin: 5px;
  }
}

.expand {
  transform: rotate(0deg);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1)!important;
}
.expand-open {
  transform: rotate(180deg);
}

.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}

.justify-content-center {
  justify-content: center!important;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.card-button-group {
  justify-content: space-between;
}

.btn {
  display: inline-block;
  font-weight: 400;
  outline: none;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  &-accept {
    color: #0ea90e;
    border: #0ea90e solid 2px;
    // width: 80px;
    // height: 80px;
    // position: relative;
    // bottom: -10px;
    // right: -40px;
    border-radius: 20px 0;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition-property: box-shadow;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover {
      color: white;
      background-color: #0ea90e;
      box-shadow:
      -6px -4px 28px rgba(71, 105, 169, 0.25),
      -5px -5px 10px rgba(140, 153, 162, 0.22);

    }
  }
  &-decline {
    color: #f50057;
    border: #f50057 solid 2px;
    // width: 80px;
    // height: 80px;
    // position: relative;
    // bottom: -10px;
    // left: -40px
    border-radius: 0px 20px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition-property: box-shadow;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover {
      color: white;
      background-color: #f50057;
      box-shadow:
      -6px -4px 28px rgba(71, 105, 169, 0.25),
      -5px -5px 10px rgba(140, 153, 162, 0.22);

    }
  }
  &-circle {
    border-radius: 50%;
  }
  &-lg {
    font-size: 1.3rem!important;
    font-weight: 700;
  }
}
